

.div-1{
    height:fit-content;
    object-fit: fill;
}

.img{
    width:100%;
    height:100%;
    object-fit:cover;
}

.div-2{
    height:fit-content;
    background-color: black;
    color: seashell;
}

#div-3{
    margin-left: 1.5cm;
    font-style: oblique;
}

.vl {
    border-left: 6px solid green;
    height: 500px;
    position: absolute;
    left: 50%;
    margin-left: -3px;
   
  }