.label {
    color:  #66c4f2;
    padding: 8px;
  }

.btn-primary {
    color:#b22139;
    background-color:  #66c4f2;
    border-color: #f28b66;
    text-decoration: solid; 
}

.title{
  color:  #66c4f2;
  font-family:monospace;
}

