:root {
    --gradient: linear-gradient(#f2bf66) !important;
}

   
body {
    background:white!important;
}
  
.card {
    background: white;
    border: 1px solid#f2bf66;
    color:black;
    margin-bottom: 2rem;
}
  
.btn {
    border: 5px solid;
    border-image-slice: 1;
    background: var(--gradient) !important;
    -webkit-background-clip: text !important;
    -webkit-text-fill-color: black !important; 
    text-decoration: none;
    transition: all .4s ease;
}
  
.btn:hover, .btn:focus {
    background: var(--gradient) !important;
    -webkit-background-clip: none !important;
    -webkit-text-fill-color: #f2bf66 !important;
    border: 5px solid #f2bf66 !important; 
    box-shadow:white;
    text-decoration: underline;
}

